<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Spring Security Example</title>
</head>
<body>
<h1>Welcome to Home PAGE!</h1>
<br/>
<a th:href="@{/admin/users}">All users</a>
<br/>
<a th:href="@{/}">Home page</a>
<br/>
<a th:href="@{/user}">User home page</a>
<hr/>

</body>
<br/>
<br/>
<form class="form-signin" method="get" action="/logout">
    <button class="btn btn-lg btn-primary btn-block" type="submit">Logout</button>
</form>

</body>
</html>